<script type="text/javascript" src="search.js"></script>
<div class="row mx-2">
<h2>Welcome <font color="#32cd32"><%= @a %> </font> !</h2>
</div>

<a class="btn btn-link" data-toggle="collapse" href="/myarticle" role="button" aria-expanded="false" aria-controls="collapseExample">
MyArticle
</a>
<br>

<div class="row mx-2">
<form>
    タイトル名 : <input type="text" id="searchform" onKeyUp="doSearch();" placeholder="find article..." maxlength=40>
    </form>
</div>
<div id="kekka"></div>

<br>
<a class="btn btn-link" data-toggle="collapse" href="/logout" role="button" aria-expanded="false" aria-controls="collapseExample">
Logout
</a>