<div class="row mx-2">
Resister failed.<br>
Username has already been registered.<br>
</div>
<div class="row mx-2">
<a href='/login'>Login</a>
</div>
<div class="row mx-2">
<a href='/createaccount'>make Account</a><br>
</div>