<div class="row mx-2">
Resister failed.<br>
The password you entered does not match.
</div>
<div class="row mx-2">
<a href='/login'>Login</a>
</div>
<div class="row mx-2">
<a href='/createaccount'>make Account</a><br>
</div>