<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
<div class="row mx-2">
Enter your username and new password.<br>
</div>

<div class="mx-auto" style="width: 300px;">
<form action="/newpass" method="post">
<div class="form-group">
    <label for="exampleFormControlInput1">Username</label>
    <input type="text" class="form-control" name="uname" maxlength="40" placeholder="user">
  </div>
<div class="form-group">
    <label for="exampleFormControlInput1">New Password</label>
    <input type="password" class="form-control" maxlength="40" name="pass1" >
  </div>
<div class="form-group">
    <label for="exampleFormControlInput1">New Password Again</label>
    <input type="password" class="form-control" maxlength="40" name="pass2">
  </div>
  <br>

<button type="submit" class="btn btn-primary">Renew</button>
<button type="reset" class="btn btn-danger">Reset</button>
</form>
<a class="btn btn-link" data-toggle="collapse" href="/login" role="button" aria-expanded="false" aria-controls="collapseExample">
Login
</a>
<br>
<a class="btn btn-link" data-toggle="collapse" href="/createaccount" role="button" aria-expanded="false" aria-controls="collapseExample">
Create Account
</a>
</div>
