<!DOCTYPE html>
<html>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
<head>
<meta charset="utf-8" />
<title>Chama code</title>
</head>

<body>
<div class="mt-2">
<center>
<h2>Chama code</h2>
</center>
</div>

<%= yield %>

</body>
<html>