<span class="row mx-2">
<h3>新しい記事を作成します!</h3>
</span>

<div class="ml-2" style="width: 1200px;">
<form action="/autharticle" method="post">
<div class="form-check">
  <input class="form-check-input" name="publicbutton[]" value="checked" type="checkbox" id="defaultCheck1">
  <label class="form-check-label" for="defaultCheck1">
    公開
  </label>
</div>
<div class="form-group">
    <label for="exampleFormControlInput1">タイトル</label>
    <input type="text" class="form-control" name="title" maxlength="60" placeholder="title">
  </div>
<br>
  <div class="form-group">
    <label for="exampleFormControlTextarea1">記事の内容</label>
    <textarea class="form-control" name="description" maxlength="1000" id="exampleFormControlTextarea1" rows="15"></textarea>
  </div>

  <div class="form-group">
    <label for="exampleFormControlTextarea1">ソースコード</label>
    <textarea class="form-control" name="code" maxlength="1000" id="exampleFormControlTextarea1" rows="15"></textarea>
  </div>
    <div class="form-group">
    <label for="exampleFormControlTextarea1">実行結果</label>
    <textarea class="form-control" name="result" maxlength="1000" id="exampleFormControlTextarea1" rows="15"></textarea>
  </div>
<button type="submit" class="btn btn-primary">Submit</button>
</form>
</div>

