<div class="row mx-2">
Renew Password failed.<br>
No user entered was found.
</div>
<div class="row mx-2">
<a href='/login'>Login</a>
</div>
<div class="row mx-2">
<a href='/createaccount'>make Account</a><br>
</div>